@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lemonada:wght@500&display=swap');
* {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Kaushan Script', cursive;
  color: #000;
}

body{
  background-color: #eee;
}

.main{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 100vh;

}

.left, .right {
  display: grid;
  place-items:center;
  text-align: center;
  padding: 40px;
  height: 100vh;
  min-height: 600px;
}

.left{

}

.right{
  background-color: #f0a8aa;
}

.links{
  width: 80%;
}



h1{
  font-size: 40px;
  padding-bottom: 30px;
}

p,a{
  display: inherit;
  font-family: 'Lemonada', cursive;
  color: #000;
  font-size: 20px;
  padding-right: 10%;
  padding-left: 10%;
}

@media only screen and (min-width:768px)
{/* for desktop */
  .main{
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;

  }

}
