body{
  margin: 0px;
}

header{
  background-color: #CA3636
}

.title h1{
  font-family: sans-serif;
  font-size: 57px;
  padding-left: 112px;
  padding-top: 31px;
}

.title{
  height: 160px
}

nav{
  background-color: #262020;
  height: 80px;
}

nav li{
  display: inline;
  padding-right: 226px;
}

nav li:nth-of-type(1){
  padding-left: 72px;
}

nav li a{
  font-size: 37px;
  color: white;
  text-decoration: none;
}

nav li a:hover{
  text-decoration: underline;
}

.box-container{
  display: flex;
  padding-top: 20px;
}

.box1{
  order:1;
}

.image{
  width: 437px;
  height: 655px;
  padding-left: 112px;
}

.box2{
  order:2;
}
