:root{
  /* CSS HSL */
  --white: hsla(0, 0%, 100%, 1);
  --oxford-blue: hsla(221, 51%, 16%, 1);
  --light-yellow: hsla(58, 89%, 93%, 1);
  --peach-puff: hsla(29, 97%, 86%, 1);
  --bittersweet: hsla(4, 82%, 67%, 1);
  --red: hsla(355, 83%, 45%, 1);
  scroll-behavior: smooth;
}


* {
  box-sizing: border-box;
  cursor: default;
}

body{
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  background-color: var(--bittersweet);
  text-align: center;
}

h1,h2,h3{
  font-family: 'Yatra One', cursive;
  font-weight: 700;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;

}

ul{
  padding: 0;
  list-style: none;
  display: flex;
}

.header__list{
  padding-top: 1rem;
  justify-content: space-around;
}

.list__item{
  font-weight: 900;
  color: var(--light-yellow);
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.list__item:hover{
  color: var(--red);
  transform: scale(1.1);
}


.hero{
  min-height: max(600px, 100vh);

}

.hero__intro{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__img{
  position: relative;
  bottom: -50px;
  border-radius: 50%;
  padding: 1rem;
  filter: opacity(.75);
}

.hero__name{
  font-family: 'Palette Mosaic', cursive;
  font-size: 3rem;
  letter-spacing: -5px;
  position: relative;
  top: -120px;
  color: var(--light-yellow);
}

.hero__content{
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.25;
  padding: 1rem;
  margin-top: -3rem;
  color: var(--light-yellow);
}

.projects{
  padding: 2rem 0;
  background-color: var(--oxford-blue);
  color: var(--light-yellow);
}

.projects__heading{
  font-size: 2.5rem;
  margin: 1rem;
}

.project__sec{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project__card{
  margin: 2rem 2rem;
  border-radius: .5rem;
  max-width: 380px;
  background: white;
  color: var(--oxford-blue);
  box-shadow: 0px 2px 5px -2px hsla(0, 0%, 90%, 0.9), inset -4px -4px 12px 2px var(--oxford-blue) ;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.project__card:hover{
  box-shadow: 0px 2px 5px 2px hsla(0, 0%, 90%, 0.6);
}

.project__image{
  padding: 1rem;
  border-radius: .5rem .5rem 0 0 ;
}

.project__content{
  padding: .5rem 1rem;
}

.project__name{
  font-size: 2rem;
  margin: .75rem 0;
}

.project__description{
  font-weight: 600;
}

.project__link{
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.project__link>a{
  border: solid 2px var(--oxford-blue);
  width: 8.5rem;
  padding: .5rem;
  border-radius: 1.25rem;
  font-weight: 700;
}

.about{
  color: var(--white);
  text-align: left;
  margin: 2rem 0;
}

.about__block{
  margin-left: 2rem;
}

.about__heading{
  margin-bottom: .5rem;
  padding: 0;
}
.about__list{
  margin: 0;
  flex-direction: column;
}

footer{
  margin: 2rem 2rem;
}

.footer__heading{
  text-align: left;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--peach-puff);
}

.footer__list{
  flex-wrap: wrap;
}

.footer__list__item{
  color: var(--white);
  font-weight: 900;

}

.footer__list__item + .footer__list__item{
  padding-left: 1rem;
}

@media (min-width:700px) {
  .header__list{
    max-width: 700px;
    margin-left: auto;
    justify-content: space-around;
  }

  .hero__content{
    font-size: 1.25rem;
    max-width: 700px;
    margin: -5rem auto 0;
  }

  .about{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
  }

}

@media (min-width:920px) {
  .about{
    max-width: 900px;
  }
  .about__block{
    margin-left: 0;
  }
  .about__list{
    margin-left: 4rem;
  }
  footer{
    max-width: 900px;
    margin: 2rem auto;
  }
  .footer__list__item + .footer__list__item{
    padding-left: 2rem;
  }
}
