body{
  margin: 0px;
  background-color: #CA3636;
}

.title h1{
  font-family: sans-serif;
  font-size: 57px;
  padding-left: 112px;
  padding-top: 31px;
}

.title{
  height: 160px
}

nav{
  background-color: #262020;
  height: 80px;
}

nav li{
  display: inline;
}
