@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lemonada:wght@500&display=swap');
* {
  box-sizing: border-box;
}

html{
  font-family: 'Kaushan Script', cursive;
  font-stretch: semi-expanded;
  color: #000;
}

body{
  background-color: #eee;
}

.main{
  position: absolute;
  display: block;
  height: 100%;
}

.left, .right {
  position: relative;
  text-align: center;
  padding: 40px;
  height: 100%;
}

.left{

}

.right{
  background-color: #f0a8aa;
}

.center{
    position: relative;
    top: 20%;
    padding-left: 10%;
    padding-right: 10%;
}

h1{
  font-size: 40px;
  padding-bottom: 30px;
}
p,a{
  display: inherit;
  font-family: 'Lemonada', cursive;
  color: #000;
  font-size: 20px;
  padding-right: 10%;
  padding-left: 10%;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}


[class*="col-"]{
  padding: 15px;
  float: left;
  width: 100%;
}

@media only screen and (min-width:768px)
{/* for desktop */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .center{
    position: relative;
    top: 40%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
